{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="{% url 'post:create' %}">
        <button>새로운 글작성</button>
    </a>
{% else %}
    <a href="{% url "accounts:login" %}">게시글을 작성하시려면 로그인하세요</a>
{% endif %}

    	{% for post in posts %}
            <div>
            <a href="{% url 'post:detail' post.id %}">{{ post.id }}{{ post.title }}<br>{{ post.price }}<br>{{ post.auther }}</a><br>
            <form action="{% url "post:check" post.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in post.check_users.all %}
                    <input type="submit" value="찜하기 취소">
                {% else %}
                    <input type="submit" value="찜하기">
                {% endif %}
            </form>
            <hr>
            </div>
        {% endfor %}

{% endblock content %}